<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ticket-heading" data-cy="TicketCreateUpdateHeading">Remontée</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" style="display: -webkit-inline-flex" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div
          class="row mb-3"
          style="display: -webkit-inline-flex"
          [hidden]="editForm.get('id')!.value == null"
          *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'"
          [hidden]="editForm.get('id')!.value == null"
        >
          <label class="form-label" for="field_pertinence"> Pertinence: </label>
          <input
            type="checkbox"
            class="form-check"
            name="pertinence"
            id="field_pertinence"
            data-cy="pertinence"
            formControlName="pertinence"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_object">Objet</label>
          <input
            type="text"
            *jhiHasAnyAuthority="['ROLE_ANIMATEUR_CENTRAL', 'ROLE_CONTRIBUTEUR']"
            class="form-control"
            name="object"
            id="field_object"
            data-cy="object"
            formControlName="object"
          />
          <input
            type="text"
            *jhiHasAnyAuthority="['ROLE_RELAIS_REGIONAL', 'ROLE_RELAIS_CENTRAL']"
            [readonly]="true"
            class="form-control"
            name="object"
            id="field_object"
            data-cy="object"
            formControlName="object"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            *jhiHasAnyAuthority="['ROLE_ANIMATEUR_CENTRAL', 'ROLE_CONTRIBUTEUR']"
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <input
            *jhiHasAnyAuthority="['ROLE_RELAIS_REGIONAL', 'ROLE_RELAIS_CENTRAL']"
            [readonly]="true"
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>
        <div>
          <div class="row mb-3">
            <label class="form-label" for="field_attach">Attachement</label>
            <div>
              <div *ngIf="editForm.get('attach')!.value" class="form-text text-danger clearfix">
                <a class="pull-start" (click)="openFile(editForm.get('attach')!.value, editForm.get('attachContentType')!.value)">open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('attachContentType')!.value }}, {{ byteSize(editForm.get('attach')!.value) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ attach: null }); editForm.patchValue({ attachContentType: null })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
              <input type="file" id="file_attach" data-cy="attach" (change)="setFileData($event, 'attach', false)" />
            </div>
            <input type="hidden" class="form-control" name="attach" id="field_attach" data-cy="attach" formControlName="attach" />
            <input
              type="hidden"
              class="form-control"
              name="attachContentType"
              id="field_attachContentType"
              formControlName="attachContentType"
            />
          </div>
        </div>

        <div>
          <!--
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
-->
        </div>
        <div class="row mb-3" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_creationDate">Date création</label>
          <div class="d-flex">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="datetime-local"
              class="form-control"
              name="creationDate"
              formControlName="creationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3" hidden>
          <label class="form-label" for="field_modificationDate">Modification Date</label>
          <div class="d-flex">
            <input
              id="field_modificationDate"
              data-cy="modificationDate"
              type="datetime-local"
              class="form-control"
              name="modificationDate"
              formControlName="modificationDate"
              placeholder="dd/MM/yyyy"
            />
          </div>
        </div>

        <div class="row mb-3" hidden>
          <label class="form-label" for="field_closedDate">Closed Date</label>
          <div class="d-flex">
            <input
              id="field_closedDate"
              data-cy="closedDate"
              type="datetime-local"
              class="form-control"
              name="closedDate"
              formControlName="closedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
        <!--*jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'"-->
        <div class="row mb-3" hidden>
          <label class="form-label" for="field_entityVisibility">Entity Visibility</label>
          <input
            type="checkbox"
            class="form-check"
            name="entityVisibility"
            id="field_entityVisibility"
            data-cy="entityVisibility"
            formControlName="entityVisibility"
          />
        </div>

        <div class="row mb-3" hidden>
          <label class="form-label" for="field_directionVisibility">Direction Visibility</label>
          <input
            type="checkbox"
            class="form-check"
            name="directionVisibility"
            id="field_directionVisibility"
            data-cy="directionVisibility"
            formControlName="directionVisibility"
          />
        </div>
        <div class="row mb-3" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'">
          <div class="form-switch form-check">
            <label class="form-check-label" for="field_contributor">Contributeur </label>
            <input
              class="form-check-input"
              [disabled]="editForm.get('id')!.value == null"
              type="checkbox"
              id="contributorVisibility"
              name="contributorVisibility"
              formControlName="contributorVisibility"
            />
          </div>
          <input
            type="text"
            class="form-control"
            name="contributor"
            id="field_contributor"
            data-cy="contributor"
            formControlName="contributor"
          />
        </div>

        <div class="row mb-3" hidden>
          <label class="form-label" for="field_centralAnimator">Central Animator</label>
          <input
            type="text"
            class="form-control"
            name="centralAnimator"
            id="field_centralAnimator"
            data-cy="centralAnimator"
            formControlName="centralAnimator"
          />
        </div>

        <div class="row mb-3" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_centralRelay">Relais Central</label>
          <input
            type="text"
            class="form-control"
            name="centralRelay"
            id="field_centralRelay"
            data-cy="centralRelay"
            formControlName="centralRelay"
          />
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'">
          <label class="form-label" for="field_regionalRelay">Relais regional</label>
          <input
            type="text"
            class="form-control"
            name="regionalRelay"
            id="field_regionalRelay"
            data-cy="regionalRelay"
            formControlName="regionalRelay"
          />
        </div>

        <div
          class="row mb-3"
          [hidden]="editForm.get('id')!.value == null"
          *jhiHasAnyAuthority="['ROLE_ANIMATEUR_CENTRAL', 'ROLE_RELAIS_CENTRAL', 'ROLE_RELAIS_REGIONAL']"
        >
          <label class="form-label" for="field_stateTicket">Etat</label>
          <select class="form-control" name="stateTicket" formControlName="stateTicket" id="field_stateTicket" data-cy="stateTicket">
            <option [ngValue]="null"></option>
            <option *ngFor="let stateTicket of stateTicketValues" [value]="stateTicket">{{ stateTicket }}</option>
          </select>
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'">
          <label class="form-label" for="field_statusTicket">Status</label>
          <select class="form-control" name="statusTicket" formControlName="statusTicket" id="field_statusTicket" data-cy="statusTicket">
            <option [ngValue]="null"></option>
            <option *ngFor="let status of statusValues" [value]="status">{{ status }}</option>
          </select>
        </div>

        <div class="row mb-3" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'" [hidden]="editForm.get('id')!.value == null">
          <div class="form-switch form-check">
            <label class="form-check-label" for="field_direction">Direction Regionale </label>
            <input
              class="form-check-input"
              [disabled]="editForm.get('id')!.value == null"
              type="checkbox"
              id="directionVisibility"
              name="directionVisibility"
              formControlName="directionVisibility"
            />
          </div>
          <select
            class="form-control"
            id="field_directionRegionale"
            data-cy="directionRegionale"
            name="directionRegionale"
            formControlName="directionRegionale"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                directionRegionaleOption.id === editForm.get('directionRegionale')!.value?.id
                  ? editForm.get('directionRegionale')!.value
                  : directionRegionaleOption
              "
              *ngFor="let directionRegionaleOption of directionRegionalesCollection; trackBy: trackDirectionRegionaleById"
            >
              {{ directionRegionaleOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_category">Catégorie</label>
          <select
            class="form-control"
            *jhiHasAnyAuthority="['ROLE_ANIMATEUR_CENTRAL', 'ROLE_CONTRIBUTEUR']"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
              *ngFor="let categoryOption of categoriesCollection; trackBy: trackCategoryById"
            >
              {{ categoryOption.name }}
            </option>
          </select>
          <select
            class="form-control"
            *jhiHasAnyAuthority="['ROLE_RELAIS_CENTRAL', 'ROLE_RELAIS_REGIONAL']"
            [attr.disabled]="true"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="categoryOption.id === editForm.get('category')!.value?.id ? editForm.get('category')!.value : categoryOption"
              *ngFor="let categoryOption of categoriesCollection; trackBy: trackCategoryById"
            >
              {{ categoryOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'" [hidden]="editForm.get('id')!.value == null">
          <div class="form-switch form-check">
            <label class="form-check-label" for="field_entity">Entité </label>
            <input
              class="form-check-input"
              [disabled]="editForm.get('id')!.value == null"
              type="checkbox"
              id="entityVisibility"
              name="entityVisibility"
              formControlName="entityVisibility"
            />
          </div>
          <select class="form-control" id="field_entity" data-cy="entity" name="entity" formControlName="entity">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="entityMOption.id === editForm.get('entity')!.value?.id ? editForm.get('entity')!.value : entityMOption"
              *ngFor="let entityMOption of entitiesCollection; trackBy: trackEntityMById"
            >
              {{ entityMOption.title }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Enregistrer</span>
        </button>
      </div>
    </form>
  </div>
</div>
