<div>
  <h2 id="page-heading" data-cy="TicketHeading">
    <span>Remontées</span>

    <div class="d-flex justify-content-end" *jhiHasAnyAuthority="['ROLE_CONTRIBUTEUR', 'ROLE_ANIMATEUR_CENTRAL']" >
      <!-- <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser</span>
      </button>
    -->
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket"
        [routerLink]="['/ticket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer une remontée </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
    <span>Aucune remontée retrouver</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tickets && tickets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="object"><span>Objet</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <!--<th scope="col" jhiSortBy="creationDate"><span>Date création</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="modificationDate"><span>Date de Modification</span> <fa-icon icon="sort"></fa-icon></th> 
          <th scope="col" jhiSortBy="closedDate"><span>Date clôture</span> <fa-icon icon="sort"></fa-icon></th>-->
         <!--<th scope="col" jhiSortBy="contributor"><span>Contributeur</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="contributorVisibility"><span>Contributor Visibility</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="entityVisibility"><span>Entity Visibility</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="directionVisibility"><span>Direction Visibility</span> <fa-icon icon="sort"></fa-icon></th> 
          <th scope="col" jhiSortBy="centralAnimator"><span>Animateur central</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="centralRelay"><span>Central Relay</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="regionalRelay"><span>Regional Relay</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="stateTicket"><span>Etat</span> <fa-icon icon="sort"></fa-icon></th>
          <!--<th scope="col" jhiSortBy="statusTicket"><span>Statut</span> <fa-icon icon="sort"></fa-icon></th>-->
          <!--<th scope="col" jhiSortBy="pertinence"><span>Pertinence</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="directionRegionale.name"><span>Direction Regionale</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="category.name"><span>Categorie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="entity.title"><span>Entité</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a>
          </td>
          <td>{{ ticket.object }}</td>
          <td>{{ ticket.description }}</td>
        <!--  <td>{{ ticket.creationDate | formatMediumDatetime }}</td>
         <td>{{ ticket.modificationDate | formatMediumDatetime }}</td>
          <td>{{ ticket.closedDate | formatMediumDatetime }}</td>-->
         <!-- <td>{{ ticket.contributor }}</td> 
          <td>{{ ticket.contributorVisibility }}</td>
          <td>{{ ticket.entityVisibility }}</td>
          <td>{{ ticket.directionVisibility }}</td>
          <td>{{ ticket.centralAnimator }}</td>
          <td>{{ ticket.centralRelay }}</td>
          <td>{{ ticket.regionalRelay }}</td>--> 
          <td>{{ ticket.stateTicket }}</td>
          <!--<td>{{ ticket.statusTicket }}</td>-->
          <!--<td>{{ ticket.pertinence }}</td>-->
          <td>
            <div *ngIf="ticket.directionRegionale">
              <a [routerLink]="['/direction-regionale', ticket.directionRegionale?.id, 'view']">{{ ticket.directionRegionale?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ticket.category">
              <a [routerLink]="['/category', ticket.category?.id, 'view']">{{ ticket.category?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ticket.entity">
              <a [routerLink]="['/entity-m', ticket.entity?.id, 'view']">{{ ticket.entity?.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Visualiser</span>
              </button>

              <button type="submit" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Modifier</span>
              </button>

              <button type="submit" (click)="delete(ticket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton" *jhiHasAnyAuthority="'ROLE_ANIMATEUR_CENTRAL'">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button> 
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tickets && tickets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
