<div>
  <h2 id="page-heading" data-cy="AttachmentHeading">
    <span>Attachments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-attachment"
        [routerLink]="['/attachment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Créer un attachment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="attachments?.length === 0">
    <span>aucun attachement trouver</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="attachments && attachments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="attach"><span>Attachement</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ticket.id"><span>Remontée</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attachment of attachments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/attachment', attachment.id, 'view']">{{ attachment.id }}</a>
          </td>
          <td>{{ attachment.name }}</td>
          <td>
            <a *ngIf="attachment.attach" (click)="openFile(attachment.attach, attachment.attachContentType)">Ouvrir</a>
            <span *ngIf="attachment.attach">{{ attachment.attachContentType }}, {{ byteSize(attachment.attach) }}</span>
          </td>
          <td>
            <div *ngIf="attachment.ticket">
              <a [routerLink]="['/ticket', attachment.ticket?.id, 'view']">{{ attachment.ticket?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/attachment', attachment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Visualiser</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/attachment', attachment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Modifier</span>
              </button>

              <button type="submit" (click)="delete(attachment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="attachments && attachments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
